<head>
    <style>
    
    p {
        font-size: 18px;
        font-family: monospace;
    }

    </style>
    <title>Testing !!</title>
</head>

<body>

    <p>and so there was a start....</p>

</body>