<head>
<title>Portfolio - Rox Beecher</title>
<style>
p{
  color:black;
}

h3 {
  color:rgb(77, 42, 59)
}

span {
  color:rgb(77, 42, 59)
}
</style>
</head>

<body>

<div class="bgimg-4 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide" id="typewriter"></span>
  </div>
</div>

<div class="w3-content w3-container w3-padding-64">
  <p>and there was nothing...</p>
</div>

<script type="text/javascript" src="./js/page.js"></script>
<script type="text/javascript" src="./js/typewriter.js"></script>

<script>
  var type_pace = 185;
  var typewriter_text = "PORTFOLIO"
  typewriter_load(typewriter_text, type_pace);
</script>

</body>