body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #e7d7da;
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (full page) */
.bgimg-1 {
  background-image: url('../images/destiny-concept-art-crypt.jpg');
  min-height: 100%;
}

/* Second image */
.bgimg-2 {
  background-image: url("../images/destiny-concept-art-bw1.jpg");
  min-height: 400px;
}

/* Third image */
.bgimg-3 {
  background-image: url("../images/destiny-concept-art-forest1.jpg");
  min-height: 400px;
}

/* Fourth image */
.bgimg-4 {
  background-image: url("../images/destiny-concept-art-aoo.jpg");
  min-height: 300px;
}

/* Fifth image */
.bgimg-5 {
  background-image: url("../images/destiny-concept-art-forest1.jpg");
  min-height: 300px;
}

.nav-background {
  color: #fff;
  background-color: #000;
}

.w3-wide {letter-spacing: 5px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1400px) {
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
    background-attachment: scroll;
    min-height: 400px;
  }
  .nav-background {
    color: #000;
    background-color: #fff;
  }
}